<div class="card">
<div class="card-body">
<div class="container">
	<h1 class="text-center">Create User</h1>
	<div class="row">
<div class="col-md-6 col-md-offset-4">
	<form name="user" #userForm="ngForm" (ngSubmit)="createUser(userForm)">
	<div class="form-group">
 	<input type="text"  name="userName" class="form-control" ngModel placeholder="USER NAME">
	</div>
	<div class="form-group">
 	<input type="email" name="email" class="form-control" ngModel placeholder="EMAIL">
	</div>
	<div class="form-group">
 	<input type="number" name="phone" class="form-control" ngModel placeholder="Phone NO" max="10">
	</div>
	<div class="form-group">
 	<input type="text" name="role" class="form-control" ngModel placeholder="ROLE">
	</div>
	<div class="form-group">
 	<input type="text" name="experience" class="form-control" ngModel placeholder="Experience">
	</div>
	<div>
 	<button class="btn btn-primary btn-lg">Create</button>
	</div>
 </form>
</div>
</div>
</div>
</div>
</div>


 